body {
	background-color: #ecf0f1;
	padding-top: 78px;
}

header {
	background-color: #2c3e50;
	text-align: center;
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.search-box {
	border: 0;
	background-color: #ecf0f1;
	height: 30px;
	padding: 4px 8px;
	color: #7f8c8d;
}

.search-button {
	border: 0;
	background-color: #27ae60;
	height: 38px;
	padding: 4px 8px;
	color: #ecf0f1;
}

.container {
	width: 660px;
	margin: 16px auto;
}

.movie-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.movie-list li {
  display: block;
  width: 250px;
  padding: 20px;
	margin: 20px;
  text-align: center;
  background-color: #bdc3c7;
	height: 390px;
  float: left;
}

.movie-list li:after{
	content: '';
	display: block;
	clear: both;
}

.movie-list img {
	height: 256px;
}

.movie-list h2 {
	color: #2c3e50;
}

.not-found {
	color: #c0392b;
	text-align: center;
}
