body {
  background-color: #fff;
  font-family: "Tahoma";
  font-size: 14px;
}

.clear {
  clear: both;
}

.page {
  width: 400px;
  margin: 30px auto 0;
}

.main-form {
  padding: 20px;
  background-color: #eee;
}

.main-form input {
  width: 270px;
  height: 30px;
  float: left;
  border: 0;
  padding: 5px;
}

.main-form button {
  width: 60px;
  height: 40px;
  float: left;
  cursor: pointer;
  margin-left: 20px;
  background-color: #f9f9f9;
  border: 0;
}

.movie-list {
  display: none;
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

.movie-list li {
  border-top: 1px solid #eee;
}

.movie-list li:first-child {
  margin-top: 0;
  border-top: 0;
}

.movie-list li p {
  margin: 10px;
}

.movie-list li p.title {
  font-size: 20px;
}

.not-found {
  display: none;
  font-size: 18px;
  color: #f20;
  text-align: center;
}

